// @import "reset.scss";
@import "swiper-bundle";
@import "bootstrap";

@import "fonts.scss";
@import "setings.scss";

.preview {
    height: 100vh;
//     padding-top: 50px;
//     display: flex;
//     flex-direction: column;
    background-image: url("../img/background_tree/bg_tree@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    &__title {
        position: relative;
        margin-bottom: 50px;
        text-align: right;
        font-family: "f-bold", sans-serif;
        font-size: 72px;
        &::after {
            content: "";
            position: absolute;
            right: 0;
            bottom: -10px;
            width: 140px;
            height: 4px;
            background-color: #000;

        }
    }
    &__text {
        font-size: 18px;
        text-align: right;
    }
    &__btn {
        display: block;
        width: 270px;
        box-sizing: border-box;
        padding-top: 12px;
        padding-bottom: 12px;
        margin-left: auto;
        border: 2px solid black;
        font-size: 18px;
        font-family: "f-semibold", sans-serif;
    }
}
.nav-link, .nav-link:hover, .nav-link:focus, .navbar-brand, .navbar-brand:hover, .navbar-brand:focus {
    color: #212121;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.navbar-toggler__icon {
    width: 15px;
    height: 15px;
}
.navbar__wrapper {
    margin-bottom: 35vh;
}

.intro, .team {
    padding-top: 100px;
    padding-bottom: 100px;
}

.servises {
    background-color: #efefef;
    padding: 100px 0;
    &__img {
        height: 34px;
    }
    &__title {
        font-family: "f-semibold", sans-serif;
        font-size: 18px;
    }
    &__text {

    }
}

.team {
    &__container {

    }
    &__slier {
        &-wrapper {
            display: flex;
            justify-content: space-between;

        }
    }
    &__slide {
    }
    
    &__item {        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 70px 55px 40px 40px;
        width: 100%;
        height: 100%;
        min-width: 0;
        background-color: #222;
        color: #fff;
        box-sizing: border-box;
    }
    &__title {
        font-size: 14px;
    }
    &__text {
        font-size: 24px;
    }
    &__member {
        font-family: "f-semibold", sans-serif;
        font-size: 14px;
    }
    &__img {
        width: 60px;
        height: 60px;
    }
    &__inner {

    }
    &__name {

    }
    &__date {

    }
    &__next, &__prev {
        height: 40px;
        width: 20px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    &__next {
        right: -5%;
    }
    &__prev {
        left: -4%;
    }
    .swiper-slide-active::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 75px;
        height: 7px;
        background-color: #e64a19;
    }
}

.swiper-slide-active {
    position: relative;
}
.swiper-button-disabled {
    opacity: 0;
}

@media all and (max-width:992px) {
    .team__slide {
        // min-width: 50%;
    }
}



.clients {
    padding: 100px 0;
    background-color: #efefef;
    &__slider {

    }
    &__wrapper {
        position: relative;
    }
    &__slide {
        
    }
    &__item {
        display: flex;
        justify-content: center;
    }
    &__icon {

    }
    &__prev, &__next {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 15px;
        height: 25px;
    }
    &__prev {
        left: -20px;
    }
    &__next {
        right: -20px;
    }
}


.portfolio {
    padding-top: 100px;
    padding-bottom: 100px;
    &__wrapper {
        position: relative;
    }
    &__slider {

    }
    &__inner {

    }
    &__slide {
        width: auto;
    }
    &__image {
        display: block;
    }
    &__pagination {
        bottom: -60px;
        left: 50%;
        transform: translateX(-50%);
        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            margin-right: 4px;
            margin-left: 4px;
            &-active {
                background-color: #e64a19;
            }
        }
    }
}

.quote {
    padding-top: 80px;
    padding-bottom: 70px;
    background-color: #222;
    color: #fff;
    font-size: 20px;
    &__img {        
        width: 18px;
    }
    &__title {

    }
    &__subtitle {
        font-family: "f-italic";
    }
}

.members {
    padding-top: 100px;
    padding-bottom: 120px;
    &__img {

    }
    &__title {
        font-family: "f-bold", sans-serif;
    }
    &__subtitle {
        font-size: 15px;
    }
}

.facts {
    position: relative;
    padding-top: 100px;
    padding-bottom: 140px;
    background-image: url("../img/icons/facts_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(33, 33, 33, .7);
    background-blend-mode:color;
    color: #eee;
    &__item {
        background-color: rgba(255, 255, 255, .3);
    }
    &__num {
        position: relative;
        font-family: "f-bold";
        font-size: 27px;
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 75px;
            height: 4px;
            background-color: #4d4c4b;

        }
    }
    &__text {
        font-size: 24;
    }
}

.photography {
    padding-top: 110px;
    padding-bottom: 80px;
    &__subtitle {
        font-size: 14px;
        color: #555;
    }
    &__title {
        font-family: "f-semibold", sans-serif;
        font-size: 24px;
    }
    &__text {
        color: #333;
    }
    &__img {

    }
}
.posts {
    &__slider-wrapper {
        background-color: #efefef;
        padding-top: 70px;
        padding-bottom: 70px;
    }
    &-btn {
        position: relative;
        padding: 10px 0 10px 20px;
        text-align: left;
        &__title {
        font-family: "f-semibold", sans-serif;
        font-size: 18px;
        }
        &__subtitle {
        color: #555;
        font-size: 14px;
        margin-bottom: 0;
        }
        &::after {
            content: "";
            position: absolute;
            width: 6px;
            background-color: #212121;
            top: 0;
            bottom: 0;
            left: 0;
        }
    }
    &__icon {
        width: 30px;
    }
    &__image {

    }
    &__text {
        font-size: 20px;
    }
    &__subtitle {
        font-family: "f-bold", sans-serif;
    }
}
.hidden {
    display: none;
}

.form {
    &__row {
        border-bottom: 1px solid #474747;
    }
    &__inner {
    }
    &__input {
        background-color: transparent;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #474747;
        resize: none;
        color: #999;
        &:focus {
            background-color: transparent;
            color: #999;
        }
        &_w45 {
            width: 45%;
        }

    }
    &__email {

    }
    &__subject {

    }
    &__textarea {

    }
    &__submit {
        border: none;
    }
}
.footer {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #212121;
    color: #999;
    &__logo {
        font-family: "f-bold", sans-serif;
        font-size: 22px;
        color: #eee;
        text-transform: uppercase;
    }
    &__subtitle {
        font-family: "f-semibold", sans-serif;
        font-size: 15px;
        color: #ddd;
        text-transform: uppercase;
    }
    &__list {

    }
    &__item {

    }
    &__link {
        font-size: 14px;
        color: #999;
    }
}
.run-title {
    &__text {
    font-size: 14px;
    }
    &__list {

    }
    &__item {

    }
    &__link {
        font-size: 13px;
        color: #aaa;
        text-transform: uppercase;
    }
}